* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}
a {
    display: block;
    color: #000000;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

input {
    outline: none;
}